body {
    background-color: black;
    text-align: center;
}

h1 {
    font-family: Verdana, Tahoma, sans-serif;   
    font-size: 50px;
    color: white;
    font-weight: 500;
}

h2 {
    font-family: Verdana, Tahoma, sans-serif;   
    font-size: 42px;
    color: white;
    font-weight: 300;
}

h3 {
    font-family: Verdana, Tahoma, sans-serif;   
    font-size: 21px;
    color: grey;
    font-weight: 300;
}

a {
    font-family: Verdana, Tahoma, sans-serif;   
    color: aquamarine;
}

.copyright {
    float:right;
    text-align: right;
}

.icon {
    margin-top: 20px;
}